.intro {
  margin-top: 4rem;
  margin-bottom: 4rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
  }
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;

  article {
    position: relative;
    border-radius: 0.4rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.2);
    background: linear-gradient(to bottom right, #104087, #0c2d60);
    overflow: hidden;
    color: white;

    &::after {
      content: "📰";
      // filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.6));
      position: absolute;
      opacity: 0.5;
      bottom: -1.2rem;
      right: -1.2rem;
      font-size: 5rem;
      transform: rotate(25deg) scale(1.2);
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 0.4rem;
      + p {
        width: 150px;
        margin-bottom: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    a {
      color: #88b5f8;
      &:visited {
        color: rgb(204, 167, 253);
      }
    }
  }
}
